@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    max-width: 1600px;
    margin: 0 auto;
    background-color: white;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Gugi", Impact, 'Arial Narrow Bold';
}

header { 
    background-color: #CF5C36;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#post3dLogo {
    height: 100px;
    grid-row: 1/2;
}

#hamburger {
    height: 75px;
    width: 75px;
    align-self: center;
    justify-self: center;
    grid-row: 1/2;
    background-image: url("images/hamburger_icon_basic.png");
    background-size: cover; /* Ensures the image covers the div */
    background-position: center;
    background-repeat: no-repeat; /* Prevents tiling */
}

#hamburger:hover {
    background-image: url("images/hamburger_icon_hover.png");
    cursor: pointer;
}

.nav-bar {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #D3D5D7;
    padding: 5px;
}

#nav-item {
    color: #050517;
    font-family: "Gugi", Impact, 'Arial Narrow Bold';
    padding: 5px;
}

#nav-item:hover {
    color: #CF5C36;
    background-color: #F4E3B2;
}
.main-content > h2 {
    margin-left: 15px;
    margin-top: 35px;
    color: #CF5C36;
}
.threads {
    display: flex;
    flex-direction: column;
}
.thread-card {
    background-color: #D3D5D7;
    border: 1px solid #050517;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}
.thread-card-info {
    display: flex;
    justify-content: space-between;
}
.filterbox {
    width: 350px;
    margin: 25px auto;
    font-size: 1.25rem;
}
.searchbox {
    text-align: center;
}
.searchButton {
    height: 35px;
    width: 345px;
    margin-left: 2.5px;
}

button {
    cursor: pointer;
}

.hero {
    background-color: #CF5C36;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero > h1 {
    color: #F4E3B2;
    font-size: 2.5rem;
}

.hero > h4 {
    color: white;
}

.contactButton {
    height: 50px;
    width: 150px;
    margin-bottom: 25px;
    color: #050517;
    background-color: #F4E3B2;
    border: 2px solid #050517;
    border-radius: 10px;
    font-family: "Gugi", Impact, 'Arial Narrow Bold';
    
}

.contactButton:hover {
    color: #F4E3B2;
    background-color: #050517;
    border: 2px solid #F4E3B2;
    
}

.programs {
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.programs > h2 {
    width: 100%;
    color: #CF5C36;
}

.programs > img {
    max-width: 150px;
    margin: 25px;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
}

#post3d-logo-footer {
    height: 100px;
    margin: 0 auto;
}
.header-banner {
    display: none;
    color: #F4E3B2;
    font-size: 2.5rem;
    margin-top: auto;
}

.hide {
    display: none;
}

.form-message {
    background-color: #F4E3B2;
    text-align: center;
}
.contact-form {
    width: 80%;
    margin: 0 auto;
}

.contact-form > div {
    border: 2px solid #050517;
    border-radius: 10px;
    padding: 25px;
}
.contact-form > h2 {
    color: #CF5C36;
}
#emailInput {
    width: 100%;
    margin: 0px auto;
}

#messageInput {
    width: 100%;
    height: 150px;
    margin: 0px auto;
}

#submitButton {
    width: 50%;
    height: 50px;
    margin-left: 25%;
}

@media screen and (min-width: 1000px) {
    #nav-bar {
        flex-direction: row;
        justify-content: space-evenly;
    }
    #hamburger {
        display: none;
    }
    .header-banner {
        display: block;
    }
    .main-content{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .main-content {
        grid-row: 1/2;
    }
    .threads {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .filterbox {
        grid-column: 2/3;
        grid-row: 2/3;
        margin-top: 15px;
    }
}

